Repository securesign/rhtas-console: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-console-on-pull-request, rhtas-console-on-push

rhtas-console-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-console:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  ...

rhtas-console-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-console:{{revision}}
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

update image deps
  Dockerfile.rh
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix openapi workflow
  .github/workflows/openapi.yml
Due: none

fix openapi workflow (#30)
  .github/workflows/openapi.yml
Due: none

review updates
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

[SECURESIGN-2287] add artifact verification (#29)
  .github/workflows/linter.yml
  .tekton/rhtas-console-pull-request.yaml
  .tekton/rhtas-console-push.yaml
  Dockerfile.rh
  README.md
  go.mod
  go.sum
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/api/routes.go
  internal/models/models.go
  internal/services/artifact.go
  internal/services/trust.go
  internal/services/verify/testdata/bundle.json
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

ci: continuous image generation in github registry
  .github/workflows/image-build.yml
  Dockerfile
Due: none

:robot: Updated timestamp file to 2025-10-31,14-16-00.
  trigger-konflux-builds.txt
Due: rhtas-console-on-pull-request

:robot: Updated timestamp file to 2025-11-04,10-30-49.
  trigger-konflux-builds.txt
Due: rhtas-console-on-pull-request

ci: continuous image generation in github registry (#31)
  .github/workflows/image-build.yml
  Dockerfile
Due: none

List artifact signatures/attestations
  internal/api/openapi/rhtas-console.yaml
  internal/errors/errors.go
  internal/models/models.go
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: add Devcontainers
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/initializeCommand.sh
  .devcontainer/postCreateCommand.sh
Due: none

:robot: Updated timestamp file to 2025-11-12,12-52-46.
  trigger-konflux-builds.txt
Due: rhtas-console-on-pull-request

add manual workflow dispatch to openapi workflow
  .github/workflows/openapi.yml
Due: none

add manual workflow dispatch to openapi workflow (#37)
  .github/workflows/openapi.yml
Due: none

Simplify workflow dispatch by removing branch input
  .github/workflows/openapi.yml
Due: none

update signature data structure, fix error handling when no signatures/attestations
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

enhance chainStringToArray
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix att error
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

add signature certificate chain
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Artifact verify: extract and use SAN from certificate
  README.md
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

[SECURESIGN-3238] List artifact signatures/attestations/certificate chains (#34)
  internal/api/openapi/rhtas-console.yaml
  internal/errors/errors.go
  internal/models/models.go
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Artifact verify: extract and use SAN from certificate (#38)
  README.md
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: add Devcontainers (#35)
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/initializeCommand.sh
  .devcontainer/postCreateCommand.sh
Due: none

:robot: Updated timestamp file to 2025-11-19,10-03-57.
  trigger-konflux-builds.txt
Due: rhtas-console-on-pull-request

Extend artifact verification API with ViewModel data
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

update README.md
  README.md
Due: none

update: add missing attributes
  README.md
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

remove unnecessary uppercase
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Add CertificateChain, SigningCertificate to AttestationView
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

[SECURESIGN-3261] Extend artifact verification API with ViewModel data (#40)
  README.md
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

update VerifyArtifactRequest required parameters
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

enforce required params
  internal/services/artifact.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Add registry metadata, rename tlogEntry, and extend artifact status
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

signatureStatus & attestationStatus as objects
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

remove unused comment
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

comments update
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

update README
  README.md
Due: none

Add registry metadata, rename tlogEntry, and extend artifact status (#41)
  README.md
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Path conditions:
  rhtas-console-on-pull-request: ((((((any of: .tekton/rhtas-console-pull-request.yaml) or (any of: Dockerfile.rh)) or (any of: internal/***)) or (any of: cmd/rhtas_console/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  rhtas-console-on-push: (((((any of: .tekton/rhtas-console-push.yaml) or (any of: Dockerfile.rh)) or (any of: internal/***)) or (any of: cmd/rhtas_console/***)) or (any of: go.mod)) or (any of: go.sum)
