Repository securesign/rhtas-console: changes, and which Tekton pipelines are due for each by the changed paths.
All: rhtas-console-on-pull-request, rhtas-console-on-push

rhtas-console-on-pull-request:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-console:on-pr-{{revision}}
  - name: image-expires-after
    value: 5d
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  ...

rhtas-console-on-push:
  params:
  - name: git-url
    value: '{{source_url}}'
  - name: revision
    value: '{{revision}}'
  - name: output-image
    value: quay.io/securesign/rhtas-console:{{revision}}
  - name: dockerfile
    value: Dockerfile.rh
  - name: path-context
    value: .
  - name: build-source-image
    value: 'true'
  ...

review updates
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Support cosign v3 verification (#65)
  .github/workflows/linter.yml
  go.mod
  internal/services/verify/verify.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

refactor: simplify trust coverage API to attestation-only schema
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix: improve api security
  cmd/rhtas_console/main.go
  internal/api/handlers.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix: typo in openapi spec
  internal/api/openapi/rhtas-console.yaml
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: add system health contract
  internal/api/handlers.go
  internal/api/openapi/rhtas-console.yaml
  internal/api/routes.go
  internal/models/models.go
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix: remove signedPercentage
  internal/api/openapi/rhtas-console.yaml
  internal/models/models.go
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: enable codecov coverage checks for PRs
  .github/workflows/code-coverage.yml
  .gitignore
  Makefile
  codecov.yml
Due: none

Test code coverage with an unit test
  internal/errors/errors_test.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix(ci): replace Codecov token auth with OIDC and update action versions
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

Merge pull request #74 from securesign/SECURESIGN-4437
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

fix: standardize codecov flag to 'unit' across org
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

fix: standardize codecov flag to 'unit' across org (#78)
  .github/workflows/code-coverage.yml
  codecov.yml
Due: none

add Qodo configuration
  .pr_agent.toml
Due: none

add Qodo configuration (#79)
  .pr_agent.toml
Due: none

Support DB TLS
  cmd/rhtas_console/main.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Support DB TLS (#80)
  cmd/rhtas_console/main.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

construct DB_DSN from individual MYSQL_* vars
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

construct DB_DSN from individual MYSQL_* vars (#81)
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Support DB TLS
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix: go mod tidy
  go.mod
  go.sum
Due: rhtas-console-on-pull-request, rhtas-console-on-push

go mod tidy
  go.mod
  go.sum
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix linter
  .github/workflows/linter.yml
Due: none

ci: add go_base_image
  .tekton/rhtas-console-pull-request.yaml
  .tekton/rhtas-console-push.yaml
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Add PostgreSQL support
  .devcontainer/docker-compose.yml
  Makefile
  cmd/rhtas_console/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/db/migrations/postgres/001_create_targets_table.down.sql
  internal/db/migrations/postgres/001_create_targets_table.up.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.down.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.up.sql
  internal/services/artifact.go
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Support DB TLS (#82)
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Disabled openssl backend & enabled fips auto mode
  Dockerfile
  Dockerfile.rh
  Makefile
  go.mod
Due: rhtas-console-on-pull-request, rhtas-console-on-push

remove RHTAS FIPS godebug for upstream Go
  .github/workflows/code-coverage.yml
Due: none

Added FIPS-check enabling params
  .tekton/rhtas-console-pull-request.yaml
  .tekton/rhtas-console-push.yaml
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix
  .tekton/rhtas-console-pull-request.yaml
  Dockerfile
Due: rhtas-console-on-pull-request

test
  Dockerfile
  Dockerfile.rh
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Add PostgreSQL support, TLS & tests
  .devcontainer/docker-compose.yml
  .github/workflows/database-tls-tests.yml
  Makefile
  cmd/rhtas_console/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/db/migrations/mysql/001_create_targets_table.down.sql
  internal/db/migrations/mysql/001_create_targets_table.up.sql
  internal/db/migrations/mysql/002_add_targets_repo_status_index.down.sql
  internal/db/migrations/mysql/002_add_targets_repo_status_index.up.sql
  internal/db/migrations/postgres/001_create_targets_table.down.sql
  internal/db/migrations/postgres/001_create_targets_table.up.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.down.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.up.sql
  internal/db/migrations_embed.go
  internal/services/artifact.go
  internal/services/trust.go
  internal/services/trust_test.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: add system health aggregation endpoint
  Makefile
  README.md
  config/rbac/health-role.yaml
  go.mod
  go.sum
  internal/api/handlers_health_test.go
  internal/api/openapi/rhtas-console.yaml
  internal/services/health.go
  internal/services/health_test.go
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix lint
  internal/services/health.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

review update
  internal/services/health.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

review updates
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

fix linter
  internal/services/trust.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

feat: Add PostgreSQL support (#88)
  .devcontainer/docker-compose.yml
  .github/workflows/database-tls-tests.yml
  Makefile
  cmd/rhtas_console/main.go
  go.mod
  go.sum
  internal/api/handlers.go
  internal/db/migrations/mysql/001_create_targets_table.down.sql
  internal/db/migrations/mysql/001_create_targets_table.up.sql
  internal/db/migrations/mysql/002_add_targets_repo_status_index.down.sql
  internal/db/migrations/mysql/002_add_targets_repo_status_index.up.sql
  internal/db/migrations/postgres/001_create_targets_table.down.sql
  internal/db/migrations/postgres/001_create_targets_table.up.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.down.sql
  internal/db/migrations/postgres/002_add_targets_repo_status_index.up.sql
  internal/db/migrations_embed.go
  internal/services/artifact.go
  internal/services/trust.go
  internal/services/trust_test.go
Due: rhtas-console-on-pull-request, rhtas-console-on-push

Path conditions:
  rhtas-console-on-pull-request: ((((((any of: .tekton/rhtas-console-pull-request.yaml) or (any of: Dockerfile.rh)) or (any of: internal/***)) or (any of: cmd/rhtas_console/***)) or (any of: go.mod)) or (any of: go.sum)) or (any of: trigger-konflux-builds.txt)
  rhtas-console-on-push: (((((any of: .tekton/rhtas-console-push.yaml) or (any of: Dockerfile.rh)) or (any of: internal/***)) or (any of: cmd/rhtas_console/***)) or (any of: go.mod)) or (any of: go.sum)
